/* Sidebar.css */ 
.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #333;
    transition: left 0.3s;
    left: 0;
    
}

.closed {
    left: -250px; /* Sidebar is closed on smaller screens */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    color: white;
}

