/* src/Sidebar.css */
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #333;
    transition: left 0.3s;
}

.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    /* display: none; */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    color: white;
}

/* Add additional styles as needed */

@media (max-width: 768px) {
    .sidebar {
        left: -250px;
    }

    .toggle-button {
        display: block;
    }
}