/* Sidebar.css */ 
.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #333;
    transition: left 0.3s;
    left: 0;
    
}

.closed {
    left: -250px; /* Sidebar is closed on smaller screens */
}

.page-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.links{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 1rem;
}

.active{
    color: aqua;
}

