/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 40px;
    position: relative;
}

.toggle-button {
    font-size: 24px;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    left: -7px;
}

.close {
    left: 200px;
}

.input-box {
    background-color: white;
    padding: 0.4rem;
    border-radius: 0.2rem;
    margin: 0.2rem;
    box-shadow: var(--shadow);
}

.input-box .icon {
    color: grey;
}

.input-box input {
    outline: none;
    border: none;
    margin: 0 5px;
}

/* Responsive styles */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        margin-left: 0;
    }

    .toggle-button {
        position: relative;
        top: auto;
        left: auto;
        margin-right: 10px;
    }

    .close {
        left: 200px;
    }

    .input-box {
        margin-top: 10px;
        width: 100%;
    }
}